<div class="footer" style="margin-top:20px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;min-height:225px;background-color:#fff;">
	<div id="fff" class="achange" style="width:80%;margin:0 auto;padding-top:20px;padding-bottom:10px;overflow:hidden;">
		<div style="border-left:1px solid #e4e4e4;padding-left:30px;width:25%;float:left;">
			<div style="color:#666;">编程网站推荐</div>
				<ul class='nav flex-column' style="font-size:14px;">
					<li class='nav-item'><a class='nav-link' href="http://www.runoob.com/" target='_blank'>菜鸟教程</a></li>
					<li class='nav-item'><a class='nav-link' href="https://www.liaoxuefeng.com/" target='_blank'>廖雪峰的官方网站</a></li>
					<li class='nav-item'><a class='nav-link' href="http://man.linuxde.net/" target='_blank'>Linux命令查询</a></li>
					<li class='nav-item'><a class='nav-link' href="https://www.csdn.net/" target='_blank'>CSDN博客网站</a></li>
				</ul>
		</div>
		<div style="border-left:1px solid #e4e4e4;padding-left:30px;width:25%;float:left">
			<div style="color:#666">国外网站推荐</div>
				<ul class='nav flex-column' style="font-size:13px;">
					<li class='nav-item'><a class='nav-link' href="https://www.reddit.com/">类百度贴吧-Reddit</a></li>
					<li class='nav-item'><a class='nav-link' href="https://www.quora.com/">知乎鼻祖-Quora</a></li>
					<li class='nav-item'><a class='nav-link' href="https://www.coursera.org/">普及全世界最好的教育-Coursera</a></li>
					<li class='nav-item'><a class='nav-link' href="http://www.imdb.com/">互联网电影资料库-IMDb</a></li>
				</ul>
		</div>
		<div style="border-left:1px solid #e4e4e4;padding-left:30px;width:25%;float:left">
			<div style="padding-bottom:5px;color:#666">关注微信</div>
				<img style="max-width:70%" class="img-fluid" src="https://wx1.sinaimg.cn/mw690/006eg0Kbgy1fp4btmljmbj30by0by0tk.jpg">
		</div>
		<div style="border-left:1px solid #e4e4e4;padding-left:30px;width:25%;float:left">
			<div style="padding-bottom:5px;color:#666;">个人账号</div>
				<ul class='nav flex-column'>
					<li class='nav-item'><a  class='nav-link' href="https://www.zhihu.com/people/mayongbang" target="_blank">知乎</a></li>
					<li class='nav-item'><a  class='nav-link' href="https://github.com/mybsam" target="_blank">Github</a></li>
					<li class='nav-item'><a class='nav-link' href="mailto:545682907@qq.com" target="_blank">QQ邮箱</a></li>
					<li class='nav-item'  ><a class='nav-link' href="http://kg.qq.com/node/personal?uid=679e9983272d358337" target="_blank">全民K歌</a></li>
				</ul>
		</div>
	</div>
</div>
<div style="margin-top:20px;text-align:center;color:#848484">Copyright @2018 马永邦 mayongbang.com All Rights Reserved 备案号：粤ICP备17156751号</div>
			
					